name: Maven Build + Docker build und DockerHub push
on:
  push:
    branches: [ "master" ]
#  pull_request:
#    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SECRET_KEY: ${{ vars.SECRET_KEY }}
      DB_USER: ${{ vars.DB_USER }}
      DB_PASSWORD: ${{ vars.DB_PASSWORD }}
      USER_NAME: ${{ vars.USER_NAME }}
      USER_PASSWORD: ${{ vars.USER_PASSWORD }}
      VAPID_PUBLIC_KEY: ${{ vars.VAPID_PUBLIC_KEY }}
      VAPID_PRIVATE_KEY: ${{ vars.VAPID_PRIVATE_KEY }}
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: docker.io/${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_REPOSITORY }}
          tags: |
            type=raw,value=latest

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            SECRET_KEY=${{ vars.SECRET_KEY }}
            DB_USER=${{ vars.DB_USER }}
            DB_PASSWORD=${{ vars.DB_PASSWORD }}
            USER_NAME=${{ vars.USER_NAME }}
            USER_PASSWORD=${{ vars.USER_PASSWORD }}
            VAPID_PUBLIC_KEY=${{ vars.VAPID_PUBLIC_KEY }}
            VAPID_PRIVATE_KEY=${{ vars.VAPID_PRIVATE_KEY }}